@using Microsoft.AspNetCore.Routing

@{
    Layout = null;
}

@{

    var page = ViewContext.RouteData.Values["Controller"];
}

@RenderSection("scripts", false)
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Page</title>
    <link href="~/css/bundle.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <div class="container">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">REFORM BLOGS</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @(page.ToString() == "Home" ? "active" : "")">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item @(page.ToString() == "Blog" ? "active" : "")">
                        <a class="nav-link" href="/Blog">Blog</a>
                    </li>
                </ul>
                <partial name="_SearchBox" />
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Logout" asp-controller="Auth">Logout</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Login" asp-controller="Auth">Login</a>
                        </li>
                    </ul>
                }

            </div>
        </div>
    </nav>
    <div id="main">
        <div class="container">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" id="tempDataAlert" role="alert">
                    @TempData["message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
        @RenderBody()
    </div>

    <footer class="mt-5">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <h3>Site Map</h3>
                    <ul class="list-unstyled three-column">
                        <li>Home</li>
                        <li>Services</li>
                        <li>About</li>
                        <li>Code</li>
                        <li>Design</li>
                        <li>Host</li>
                        <li>Contact</li>
                        <li>Company</li>
                    </ul>
                    <ul class="list-unstyled socila-list">
                        <li><img src="http://placehold.it/48x48" alt="" /></li>
                        <li><img src="http://placehold.it/48x48" alt="" /></li>
                        <li><img src="http://placehold.it/48x48" alt="" /></li>
                        <li><img src="http://placehold.it/48x48" alt="" /></li>
                        <li><img src="http://placehold.it/48x48" alt="" /></li>
                        <li><img src="http://placehold.it/48x48" alt="" /></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6">
                    <h3>latest Articles</h3>
                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="http://placehold.it/64x64" alt="" class="media-object" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Programming</h4>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>

                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="http://placehold.it/64x64" alt="" class="media-object" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Coding</h4>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>

                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="http://placehold.it/64x64" alt="" class="media-object" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Web Sesign</h4>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <h3>Our Work</h3>
                    <img class="img-thumbnail" src="http://placehold.it/150x100" alt="" />
                    <img class="img-thumbnail" src="http://placehold.it/150x100" alt="" />
                    <img class="img-thumbnail" src="http://placehold.it/150x100" alt="" />
                    <img class="img-thumbnail" src="http://placehold.it/150x100" alt="" />
                </div>

            </div>
        </div>
        <div class="copyright text-center">
            Copyright &copy; 2017 <span>Your Template Name</span>
        </div>
    </footer>
    <script src="~/js/bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
